* {
  font-family: "Times New Roman", Times, serif;
}
/* ----------Backdrop-------------- */
body {
  background: linear-gradient(to bottom, #B19591, #371F41);
  /* background-image: url("~/styles/background.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: default;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 10px 0px 5px;
  background: #c2d3cd;
  text-align: center;
  font-size: larger;
  width: 100vw;
  height: fit-content;
  border-bottom: 3px solid #B19591;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.header img {
  width: 60px;
  border: 3px solid #78909a;
  border-radius: 20px;
  margin-left: 30px;
  margin-right: -90px;
}
.header div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.header h1,
.header p {
  margin: 0;
  padding: 0;
}

/* ----------Search Bar-------------- */

.searchArea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.form {
  font-size: 20px;
  width: 410px;
  height: 50px;
  margin: 0 0 20px auto;
  padding-left: 20px;
  border: 3px solid #371F41;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.form:focus {
  outline: none;
}

.searchBtn {
  text-align: center;
  font-size: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px solid #371F41;
  border-left-width: 0px;
  padding: 8px 20px 0 25px;
  margin: 0 auto 0 0;
  height: 58px;
  cursor: pointer;
}
.defaultImg {
  display: flex;
  justify-content: center;
  margin: 30px auto 0px;
  max-width: 490px;
  max-height: 340px;
  border-radius: 10px;
  box-shadow: 0 0 100px 8px #B19591;

}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0px 50px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #c2d3cd;
  border: 3px solid #B19591;
  border-radius: 10px;
  width: 190px;
  height: 300px;
  margin: 10px;
  padding: 0 3px;
  box-shadow: 0 0 8px 1px #B19591;
  /* NOICE 
  background: #c2d3cd;
  border: 3px solid #B19591;
  box-shadow: 0 0 10px 1px #B19591;
 */

}

.cardTitle {
  display: flex;
  padding: 5px 0px 5px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 17px;
  text-align: center;
  line-height: 21px;
  border-radius: 10px;
  max-width: 190px;
  max-height: 45px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.cardImage {
  border-radius: 10px;
  max-width: 130px;
  max-height: 130px;
}
.cardBody {
  display: flex;
  flex-direction: column;
  width: 135px;
  min-height: 70px;
  max-height: 70px;
  margin-top: 5px;
  font-size: 16px;
  line-height: 22px;
}
.cardBody p {
  padding: 0;
  margin: 0;
}
.cardAlbum {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* ======Preview Button======== */

.previewBtn {
  outline: none;
  appearance: none;
  width: fit-content;
  font-size: 16px;
  background-color: #0f4b4b;
  color: #fff;
  border-radius: 10px;
  border: none;
  margin: 0px auto 8px;
  padding: 4px 10px;
  cursor: pointer;
}

.previewBtn:hover {
  background-color: #246e6e;
  /* transform: scale(1.2);
  transition-duration: 0.5s; */
}

@media (max-width: 1000px) {
    .defaultImg {
        width: 50vw;
    }
}
@media (max-width: 800px) {
    .defaultImg {
        width: 55vw;
    }
}
@media (max-width: 750px) {
  .searchArea {
    margin: 30px 50px;
  }
  .header h1 {
    font-size: 28px;
  }
  .header p {
    font-size: 16px;
    margin: 0 8px;
  }
}
@media (max-width: 400px) {
  .header h1 {
    font-size: 20px;
  }
  .defaultImg{
    width: 70vw;
  }
}
