* {
    font-family: 'Times New Roman', Times, serif;
}        
/* ----------Backdrop-------------- */
body{
    background: #ebf7f2;
    cursor: default;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.header{
    display: flex;
    /* justify-content: space-evenly;
    align-items: center; */
    flex-direction: row;
    padding: 20px 0px;
    background: #c2d3cd;
    text-align: center;
    font-size: larger;
    width: 100vw;
    height: 60px;
    border-bottom: 3px solid #7ea093;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.header img{
    width: 60px;
    border: 3px solid #78909A;
    border-radius: 20px;
    margin-left: 31px;
    margin-top: -9px;
}
.header div{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.header h1, .header p{
    margin: 0;
    padding: 0;
    /* width: 300px; */

}

/* ----------Search Bar-------------- */

.searchArea{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.form{
    font-size: 18px;
    width: 650px;
    height: 50px;
    margin: 0 0 20px auto;
    padding-left: 20px;
    border: 2px solid #0f4b4b;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.searchBtn{
    text-align: center;
    font-size: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #0f4b4b;
    padding-top: 8px;
    margin: 0 auto 0 0;
    height: 56px;
    cursor: pointer;
}

/* ============================Card Component============================ */
/* --(Container/card/title/img/body-album-album title/preview button)---- */
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 10px 50px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border: 3px solid #0f4b4b;
    border-radius: 10px;
    width: 190px;
    height: 300px;
    margin: 10px;
    padding: 0 3px;
    box-shadow: 8px 8px 2px 1px #B4B4B4;
}

.cardTitle{
    display: flex;
    padding: 5px 0px 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 17px;
    text-align: center;
    line-height: 21px;
    border-radius: 10px;
    max-width: 190px;
    max-height: 45px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.cardImage{
    border-radius: 10px;
    max-width: 130px;
    max-height: 130px;
}
.cardBody{
    display: flex;
    flex-direction: column;
    width: 135px;
    min-height: 70px;
    max-height: 70px;
    margin-top: 5px;
    font-size: 16px;
    line-height: 22px;
}
.cardBody p {
    padding: 0;
    margin: 0;
}
.cardAlbum{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}

/* ======Preview Button======== */

.previewBtn{
    outline: none;
    appearance: none;
    width: fit-content;
    font-size: 16px;
    background-color: #0f4b4b;
    color: #fff;
    border-radius: 10px;
    border: none;
    margin: 0px auto 8px;
    padding: 4px 10px;
    cursor: pointer;    
    }

.previewBtn:hover{
    transform: scale(1.2);
}

@media (max-width: 750px) {
    .searchArea{
        margin: 30px 50px;
    }
    .header h1{
        font-size: 28px;
    }
    .header p{
        font-size: 16px;
        margin: 0 8px;
    }
}
@media (max-width: 400px){
    .header h1{
        font-size: 20px;
    }
}